# Server
PORT=1337
HOST=127.0.0.1
PREFIX_API=
# Database
DB=false,
DB_HOST=
DB_PORT=
DB_NAME=
DB_USER=
DB_PASS=
DB_DIALECT=
# Secrets
SECRET_KEY=your_secret_key
SECRET_SALT=your_secret_SALT
JWT_SECRET_KEY=your_jwt_secret_key